<table>
  <tbody>
    <tr>
      <th>Managers Roles</th>
      <td>
        <input 
          type="text"
          id="settings_managers_roles"
          name="settings[managers_roles]"
          value="<%= settings['managers_roles'] %>"
        >
      </td>
    </tr>
  </tbody>
</table>
